<header>
	<%= image_tag("http://railstutorial.org/images/sample_app/logo.png", :alt => "Sample App", :class => "round", :width => "200px", :height => "80px") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Help", '#' %></li>
			<li><%= link_to "Sign in", '#' %></li>
		</ul>
	</nav>
</header>